################################################################################
# Visual Studio / C++ (DxLib想定)
################################################################################

.vs/
ConsoleA.*/
x64/
*.vcxproj.*
/.vs/CLS_RPG
/.vs/CLIRPG_B/v17/DocumentLayout.backup.json