################################################################################
# Visual Studio / C++ (DxLib想定)
################################################################################

# Visual Studio working folder
.vs/

# Build results
Debug/
Release/
x64/
x86/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# IntelliSense / Database
*.VC.db
*.VC.opendb

# Logs
*.log