################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/CLS_RPG
/.vs/CLIRPG_B/v17/DocumentLayout.backup.json
